**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/terraform.tfvars.json
**/terraform.tfstate.d/
**/.terraform/
**/.terraform.lock.hcl
function.zip
numpy-layer.zip
.localstack
layers/
.venv/
venv/
**/venv/
**/.venv/
**/.localstack/
./lambda_handler/__pycache__/
./lambda_handler/*.pyc
./lambda_handler/python/
./lambda_handler/package/
