**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/terraform.tfvars.json
**/terraform.tfstate.d/
**/.terraform/
**/.terraform.lock.hcl
function.zip
numpy-layer.zip
.localstack
layers/
.venv/
venv/
**/venv/
**/.venv/
**/.localstack/
./lambda_handler/__pycache__/
./lambda_handler/*.pyc
./lambda_handler/python/
./lambda_handler/package/
**/*.zip
**/package/
# Node
node_modules
node_modules/
.env*
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
**/.next/
**/out/               # <-- static export build (will be rebuilt by GitHub Actions)
dist/              # if you use tsc build

# Logs
*.log
logs
*.log*
pids
*.pid
*.seed
*.pid.lock

# Env files (never commit secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp

# Optional: test output / coverage
coverage

